
body {
	font-family: var(--font-family-400);
	margin: 0;
	background-color: #cbcbcb;
}
* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: var(--font-family-700);
	color: var(--color);
}

p {
	margin: 0;
	font-size: 14px;
	line-height: 18.2px;
	color: var(--color);
	font-family: var(--font-family-400);
}

a {
	color: var(--color);
}

.m-0 {
	margin: 0 !important;
}

.mt-1 {
	margin-top: 5px;
}

.mb-1 {
	margin-bottom: 5px;
}

.p-0 {
	padding: 0 !important;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.d-flex {
	display: flex;
}

.brdrtop {
	border-top: 1px solid #d7d7d7;
}

.hr {
	border-top: 1px solid rgba(57, 57, 57, 0.2);
	margin: 0 0 20px 0;
}

.formGroup.w-100 {
	width: 100% !important;
}
.button {
	text-transform: uppercase;
	font-size: 10px;
	padding: 6px 12px;
	border-radius:6px;
	cursor: pointer;
	font-family: var(--font-family-600);
	white-space: nowrap;
	text-decoration: none;
	min-width: 68px;
	letter-spacing: 1px;
    text-align: center;
    display: block;
}
.btnBlack{
    background-color: var(--color);   
    color:var(--color-white);
    border: none;
}
.btnDefault {
	background-color: var(--color-white) !important;
	border:2px solid var(--color) !important;
	max-width: 150px;
	width: 100%;
	color: var(--color) !important;
}
.btnGray {
	background-color: #fbfbfb !important;
	border: 1px solid rgba(57, 57, 57, 0.3);
	color: var(--color) !important;
}

.alert {
	background-color: var(--color-red);
	border-bottom: 1px solid var(--color-red);
	padding: 15px;
	width: 100%;
	text-align: center;
}

.alert p {
	color: #eeeeee;
	font-size: 12px;
	font-family: var(--font-family-700);
	margin: 0;
}

.alert p i {
	padding: 0 5px 0 0;
}

.loader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 9999;
}

.loaderWrapper {
	text-align: center;
	z-index: 999;
	position: absolute;
	top: 90px;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%);
	padding: 45px;
	border-radius: 10px;
}

.loaderWrapper img {
	width: 40px;
}

.contentWraper {
	max-width: 720px;
	margin: 0 auto;
	width: 100%;
	background-color: var(--color-white);
}

.mainWrapper {
	padding: 0 15px;
	position: relative;
	min-height: 100vh;
}

.cardWrapper {
	background-color: #fbfbfb;
	box-shadow: 0 6px 5px rgb(0 0 0 / 10%);
	overflow: hidden;
	min-height: 70px;
	border-bottom: 1px solid rgba(57, 57, 57, 0.2);
}

.dateCol {
	background-color: #eeeeee;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100px;
	max-width: 100px;
}

.dateCol h4 {
	font-size: 10px;
	text-transform: uppercase;
	font-family: var(--font-family-800);
}

.dateCol h2 {
	font-size: 39px;
	line-height: 40px;
}

.dateCol p {
	line-height: normal;
	margin: 0;
}

.detailsCol {
	width: 100%;
	padding: 10px 15px;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

.detailsCol h2 {
	margin-bottom: 2px;
	font-size: 14px;
}
