
@media screen and (max-width:575px){
    .cardBodyWrapper .formInputs {
        display:block;
    }
    .cardBodyWrapper .formInputs .formGroup {
        width:100%;
    }
    .cardBodyWrapper .inputWrapper{
     display:block;
    }
    .cardBodyWrapper .inputWrapper .inputInnerWrapper{
      width:100%;
      margin:0 0 15px 0;
    }
    .cardBodyWrapper .ticketInfo h1 {
        font-size: 24px;
    }
}