body{
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  margin:0;
  background-color: #CBCBCB;
}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 700;
}
.m-0{
    margin: 0 !important;
}
.mt-1{
    margin-top: 5px;
}
.mb-1{
  margin-bottom: 5px;
  }
.p-0{
    padding: 0 !important;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: flex-end;
}
.justify-content-center{
  justify-content: center;
}  
.justify-content-between{
  justify-content: space-between;
}
.d-flex{
  display: flex;
}
.contentWraper {
  max-width:720px;
  margin: 0 auto;
  width:100%;
  background-color: #fff;
}
.header {
  border-bottom: 1px solid #D7D7D7;
  background-color: #FBFBFB;
  padding:15px;
  margin-bottom: 0;
}
.header h2 {
  font-size: 24px;
  color: rgba(57, 57, 57, 1);
}
.datePickerWrapper {
  border: 1px solid rgba(57, 57, 57, 0.2);
  padding: 3px 5px;
  border-radius: 5px;
  min-height: 34px;
  display: flex;
}
.datePickerWrapper .datePicker {
  max-width: 180px;
}
.datePickerWrapper .datePicker input {
  width: 100%;
  border: none !important;
  background-color: transparent;
  text-align: center;
}
.datePickerWrapper .datePicker input:focus {
  outline: none;
}
.innerWraper .cardWrapper {
  background-color: #FBFBFB;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
  min-height: 70px;
  border-bottom: 1px solid rgba(57, 57, 57, 0.2);
}
.innerWraper .cardWrapper .dateCol {
  background-color: #EEEEEE;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 100px;
}
.innerWraper .cardWrapper .dateCol h4 {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(57, 57, 57, 1);
  font-weight: 800;
}
.innerWraper .cardWrapper .dateCol h2 {
  font-size: 39px;
  line-height: 40px;
  color: rgba(57, 57, 57, 1);
}
.innerWraper .cardWrapper time {
  margin: 8px 0 0;
  font-size: 12px;
  color: rgba(57, 57, 57, 1);
  font-weight: 400;
}
.innerWraper .cardWrapper .detailsCol {
  width: 100%;
  padding: 10px 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.innerWraper .cardWrapper .detailsCol h2 {
  margin-bottom: 5px;
  font-size: 14px;
  color: rgba(57, 57, 57, 1);
}
.innerWraper .cardWrapper .detailsCol p {
  margin: 0;
  font-size: 14px;
  color: rgba(57, 57, 57, 1);
  line-height: 18.2px;
  font-weight: 400;
}
.innerWraper .cardWrapper .detailsCol .priceWrap {
  text-align: right;
  font-weight: 800;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.innerWraper .cardWrapper .detailsCol .priceWrap p {
  font-weight: 400;
  color: rgba(57, 57, 57, 1);
  font-size: 12px;
  margin: 0;
  line-height: 18.2px;
}

.innerWraper .singleEventWrap {
  padding: 30px 15px;
}
.innerWraper .singleEventWrap .timeSlots{
  background-color: #FBFBFB;
  box-shadow: 0 6px 8px rgb(0 0 0 / 10%);
  overflow: hidden;
  min-height: 70px;
  margin: 0 0 15px 0;
}
.innerWraper .singleEventWrap .timeSlots .detailsCol {
  width: 100%;
  padding: 10px 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.innerWraper .singleEventWrap .timeSlots .detailsCol h2 {
  margin-bottom: 5px;
  font-size: 14px;
  color: rgba(57, 57, 57, 1);
}
.collapseArrow {
  background-color: #393939;
  min-width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.innerWraper .singleEventWrap .ticketToggle {
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
  overflow: hidden;
}
.innerWraper .singleEventWrap .ticketToggle .cardWrapper {
  /* background-color: #FBFBFB;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
  min-height: 70px;
  border-bottom: 1px solid rgba(57, 57, 57, 0.2); */
  border-radius: 0px;
  margin-bottom: 0;
}
.innerWraper .singleEventWrap .ticketToggle .cardWrapper .detailsCol {
  width: 100%;
  padding: 10px 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.innerWraper .singleEventWrap .ticketToggle .cardWrapper h2 {
  margin-bottom: 5px;
  font-size: 14px;
  color: rgba(57, 57, 57, 1);
}
.contentWraper .singleEventWrap .ticketToggle .cardWrapper .detailsCol p {
  font-weight: 400;
  color: rgba(57, 57, 57, 1);
  text-align: left;
  font-size: 12px;
  line-height: 18px;
}
.ticketToggle .cardWrapper .collapseArrow.lightBg {
  background-color:transparent;
  width: 40px;
}
.transparentBg{
  background-color: transparent !important;
}
.contentWraper .cardWrapper .dateCol.darkGray {
  background-color: #ADADAD;
}
.contentWraper .cardWrapper .dateCol.blackBg {
  background-color: #393939;
}
.contentWraper .cardWrapper .dateCol.blackBg *{
  color: #fff;
}
.contentWraper .cardWrapper .detailsCol .priceWrap .eventPrice {
  width: 100%;
}
.buttonWrap {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
button,.button {
  background-color: #393939;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
  white-space: nowrap;
  text-decoration: none;
  min-width: 68px;
  letter-spacing: 1px;
}
.soldOutWrapper .buttonWrap button{
  background-color: #E94B4F;
}
.opacity-03 {
  opacity: 0.3;
}
.redBg {
  background-color: #E94B4F !important;
}
.singleEventList .cardWrapper .collapseArrow.redBg{
min-width: 32px;
}
.eventDiscountWrapper {
  padding: 10px 15px 0;
  max-width: 500px;
  margin: 0 auto;
}
.eventDiscountWrapper h2 {
  font-size: 26px;
  font-weight: 700;
  color: rgba(57, 57, 57, 1);
  line-height: 31.2px;
}
.amountWrapper {
  border-bottom: 1px solid rgba(57, 57, 57, 0.3);
  padding: 5px 0;
}
.amountWrapper p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0;
  color: rgba(57, 57, 57, 1);
  line-height: 21px;
  font-weight: 400;
}
.totalAmountWrapper p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0;
  color: rgba(57, 57, 57, 1);
  line-height: 21px;
  font-weight: 700;
}
.totalAmountWrapper{
  font-weight: 700;
  padding: 5px 0;
  margin-bottom: 15px;
}
.ticketToggle {
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);
  overflow:hidden;
}

.ticketToggle .eventPrice1{
  text-align: left;
}
.ticketToggle.active .collapseArrow img{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
.ticketToggle .buttonWrap{
  padding: 0;
}
.ticketToggle .buttonWrap span{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  border-radius: 0;
  padding: 0;
  min-width: 45px;
  font-weight: 500;
}
.ticketToggle .buttonWrap button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  border-radius: 0;
  padding: 0;
  min-width: auto;
  font-weight: 500;
}
.ticketToggle .buttonWrap .minusBtn {
  background-color: rgba(215, 215, 215, 1);
}
.ticketToggle .buttonWrap .plusBtn {
  background-color: rgba(57, 57, 57, 1);
}
.ticketToggle .buttonWrap .dassedIcon {
  color: rgba(57, 57, 57, 1);
}
.singleTicketTotalAmount {
  background-color: #FBFBFB;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  border-top: 1px solid rgba(57, 57, 57, 0.2);
  padding-top: 30px;
  position: relative;
  border-bottom: 1px solid rgba(57, 57, 57, 0.3);
}
.singleTicketTotalAmount:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 5px;
  background-color: #D7D7D7;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}
.singleTicketTotalAmount .ticketCol, .singleTicketTotalAmount .labelBtn {
  text-align: center;
  min-width: 80px;
}
.singleTicketTotalAmount h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  letter-spacing: 0.1px;
}
.singleTicketTotalAmount h3 {
  font-size: 10px;
  margin: 0;
  line-height: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;

}
/* .singleTicketTotalAmount button {
  font-size: 16px;
  padding: 10px 15px;
  font-weight: 700;
} */
.ticketWrapper{
  padding:15px;
  border-top: 1px solid rgba(57, 57, 57, 0.3);
}
.ticketWrapper .ticketCategory{
  background-color: #FBFBFB;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  overflow: hidden;
  margin-bottom: 15px;
  min-height: 70px;
  border-radius: 5px;
}
.ticketWrapper .ticketCategory .dateCol{
  background-color: #EEEEEE;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  max-width: 60px; 
}
.ticketWrapper .ticketCategory .dateCol h2 {
  font-size: 26px;
  line-height: 26px;
  color: rgba(57, 57, 57, 1);
}
.ticketWrapper .ticketCategory .detailsCol{
  width: 100%;
  padding: 10px 15px;
  flex-direction: column;
  display: flex;
  justify-content: center; 
}
.ticketWrapper .ticketCategory .detailsCol h2 {
  margin: 0;
  color: rgba(57, 57, 57, 1);
}
.ticketWrapper .ticketCategory .detailsCol p {
  margin: 0;
  font-size: 14px;
  color: rgba(57, 57, 57, 1);
}
.ticketWrapper .ticketCategory .detailsCol .priceWrap {
  text-align: right;
  font-weight: 800;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footerActionBtn {
  max-width: 350px;
  margin: 0 auto 15px;
}
.footerActionBtn .button ,.footerActionBtn button {
  background-color: rgba(57, 57, 57, 1);
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  padding: 12px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  min-height: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}
.sloganText {
  text-align: center;
  padding: 0 0 30px 0;
}
.sloganText p {
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 400;
  color: rgba(57, 57, 57, 1);
  max-width:350px;
  margin:0 auto;
}
.contentWraper .singleEventWrap .cardWrapper .detailsCol .priceWrap p {
  font-weight: 400;
  color: rgba(57, 57, 57, 1);
  text-align: left;
}
.contentWraper .singleEventWrap .cardWrapper .detailsCol .plusBtn button{
  background-color: rgba(57, 57, 57, 1);
  border:none;
}
.blankArray {
  margin: 0px 0 20px;
  font-size: 12px;
  color: rgba(233, 75, 79, 1);
}
 .cardWrapper.active .collapseArrow img{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.ticketToggle .cardWrapper.active .collapseArrow img{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.actionBtnPlusMinus .btnCol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.actionBtnPlusMinus .btnCol button {
  background-color: rgba(57, 57, 57, 1);
  border: none;
    padding: 0;
    width: 25px;
    height: 25px;
}