:root {
    --font-family-300:'interlight_beta';
    --font-family-400:'interregular';
    --font-family-500:'intermedium';
    --font-family-600:'intersemi_bold';
    --font-family-700:'interbold';


    --color:#393939;
    --color-white:#fff;
    --color-green:#8DC5A6;
    --color-red:#E94B4F;
  }
