:root {
    --font-weight-300:'interlight_beta';
    --font-weight-400:'interregular';
    --font-weight-500:'intermedium';
    --font-weight-600:'intersemi_bold';
    --font-weight-700:'interbold';
    --font-weight-800:'interextra_bold';
  }
